/* Strategies.module.css */

.containerStrategies {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px;
}

.strategyHeader {
    background-color: #000000;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.managerDropdown {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.selectedManagerCard {
    padding: 10px;
    text-align: center;
}

.availableMethods {
    margin: 40px 0;
}

.availableMethods p {
    margin: 0;
    padding: 10px;
    border: 1px solid #ffffff;
}

.dataPreviewTable {
    width: 100%;
    border-collapse: collapse;
    margin: 40px 0;
}

.dataPreviewTable th, .dataPreviewTable td {
    padding: 10px;
    border: 1px solid #ffffff;
    text-align: center;
}

.resultsTable {
    width: 100%;
    border-collapse: collapse;
    margin: 40px 0;
}

.resultsTable th, .resultsTable td {
    padding: 10px;
    border: 1px solid #ffffff;
    text-align: center;
}

.interactivePlots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    text-align: center;
    width: 100%; /* Set the desired width */
    height: 500px; /* Set the desired height */
}

.modelInsights {
    margin: 40px 0;
}

.modelLogs {
    width: 100%;
    padding: 10px;
    background-color: #333333;
    color: #ffffff;
    border: none;
}

.strategyFooter {
    background-color: #000000;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.plotContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.history {
    margin: 40px 0;
}

.sectionHeading {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}

.historyTableContainer {
    overflow-x: auto;
}

.historyTable {
    width: 100%;
    border-collapse: collapse;
}

.historyTable th, .historyTable td {
    padding: 10px;
    border: 1px solid #ffffff;
    text-align: center;
}

.historyTable th {
    background-color: #000000;
    color: #ffffff;
}

.showMoreButton {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
}

.showMoreButton:hover {
    background-color: #444444;
    color: #ffffff;
}

/* Portfolio Section Styles */
.portfolio {
    margin: 40px 0;
}

.portfolioInfo {
    padding: 20px;
    background-color: #333333;
    border-radius: 5px;
}

.portfolioLabel {
    margin: 0;
    padding: 5px;
    color: #ffffff;
}

.assetList {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.assetItem {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 5px;
}

/* Add any other styles you may have */
