<!DOCTYPE html>
<html lang="en">

<head>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>{{ _('Delphos - Platform') }}</title>
    {% endif %}
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#0297f6">

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon"/>
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
            integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    {% block additional_styles %}{% endblock %}
</head>

<body class="{{ template }}">
<!-- Top-level Header -->
<header class="main-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='img/logo.png') }}" width="50px" alt="Logo"/>
        </a>

        <!-- Toggle button for mobile view -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/strategies">Strategies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/analysis">Analysis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dxlib">dxlib</a>
                </li>
            </ul>

            <!-- Search Bar -->
            <form class="form-inline">
                <a class="p-1" href="{{ url_for(request.endpoint, lang_code='en') }}">en</a>&nbsp;
                <a class="p-1" href="{{ url_for(request.endpoint, lang_code='pt') }}">pt</a>&nbsp;
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"><i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </nav>
</header>
<main class="container">
    {% block content %}{% endblock %}
</main>
<!-- Footer -->
<footer class="main-footer">
    <div class="footer-content">
        <p>Delphos Quant © 2023</p>
        <p>Learn about our other projects <a href="https://www.github.com/delphos-quant/">here</a>.</p>
    </div>
</footer>
{% include 'analytics.jinja2' %}
</body>

</html>